.DS_Store
.idea
nbproject
/var
/vendor
/public/*
!/public/typo3conf
!/public/.htaccess
!/public/typo3conf/LocalConfiguration.php
/public/typo3conf/*
.t3.sync.yaml
/typo3cms
/typo3
/php-parse
/fluid
/doctrine-dbal
/ce-gen.sh
/.t3.sync.yaml
/typoscript-lint
